body{
font-family:Arial;
margin:0;
background:#0f172a;
color:white;
}

header{
text-align:center;
padding:60px;
background:#020617;
}

.profile{
width:150px;
border-radius:50%;
margin-bottom:10px;
}

nav{
text-align:center;
background:#1e293b;
padding:10px;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
}

section{
max-width:800px;
margin:auto;
padding:20px;
}

.btn{
background:#38bdf8;
color:black;
padding:10px 20px;
text-decoration:none;
border-radius:5px;
}

footer{
text-align:center;
padding:20px;
color:#94a3b8;
}
